DATABASE_URL_BACK=

# 嵌入模型配置 - 使用OpenAI（需要API Key）
EMBEDDING_PROVIDER="openai"
EMBEDDING_MODEL="text-embedding-v4"
# 向量维度
DIMENSIONS="1024"
BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
EMBEDDING_APIKEY=
# OPENAIDEPLOYMENT=""   # If using Azure OpenAI deployment
# OPENAIENDPOINT=""     # If using Azure OpenAI deployment
# Optionally use a reranking model as well

# 重排序模型配置（可选）
RERANK_PROVIDER="voyageai" # Options: voyageai
RERANK_MODEL="rerank-2" 
RERANK_APIKEY=""
# Name of the data schema to use from config.mjs (defaults to 'default')


# 数据模式配置
# SCHEMA=""
